*
!/.github/
!/.github/workflows/
!/.github/workflows/bootc-build.yml
!/.gitignore
!/Containerfile
!/README.md
!/systemd/
!/systemd/*.service
!/systemd/*.timer
!/scripts/
!/scripts/bootc-auto-upgrade
